<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Program to launch-->
    <add key="program" value="notepad.exe"/>

    <!--Wait for program to load before starting input-->
    <add key="sleep" value="1000"/>

    <!--If opening a webpage-->
    <add key="address" value=""/>

    <!--If first task is to log in-->
    <add key="username" value="TEST_Name"/>
    <add key="password" value="TEST_PW"/>

    <!--use SendKeys text-->
    <add key="otherInput" value=""/>
  </appSettings>
</configuration>